@import "tailwindcss";

@theme {
  --color-primary: #3B82F6;
  --color-primary-dark: #1D4ED8;

  --color-dev: #10B981;
  --color-design: #8B5CF6;
  --color-business: #F59E0B;

  --color-error: #EF4444;

  --color-bg: #F9FAFB;
  --color-border: #E5E7EB;

  --color-heading: #0F172A;
  --color-body: #475569;

  /* Font sizes shortcut */
  --text-h1: 2.5rem;
  --text-h2: 2rem;
  --text-h3: 1.5rem;

  /* Container max width */
  --container: 1200px;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
button{
  cursor: pointer;
}